html {
    font-size: 12px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    background-color: 	#eff9bb;
}

h1 {
    font-size: 3em;
    margin-top: 1.5rem;
    margin-bottom: 0em;
}

h2 {
    font-size: 2em;
    margin-top: 1rem;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    margin-top: 4rem;
}

a {
    color: 	#6f8111;
}

a:hover {
    color: #9cb90d;
}

#main {
    padding-left: 15em;
    padding-right: 15em;
    border-radius: 15px;
}

img {
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 5rem;
}

#img-div {
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

ul {
    max-width: 900px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    list-style-type: circle;
    margin-bottom: 1rem;
}